@model IEnumerable<SermonAudioOrganizer.Domain.Preacher>

@{
    ViewBag.Title = "Preachers";
}

<h2>Preachers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var preacher in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => preacher.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => preacher.LastName)
        </td>
        <td>
            @Html.ActionLink("Sermons", "Index", "Sermon", new { preacherId = preacher.Id }, null) |
            @Html.ActionLink("Edit", "Edit", new { id = preacher.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = preacher.Id })
        </td>
    </tr>
}

</table>
