@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Sermon Audio Organizer allows you to organize sermon mp3s and other media by preacher, series, section, location, etc.
    </p>

</article>

<aside>
    <h3>Site Sections</h3>
    <p>
        Useful site links
    </p>
    <ul>
        <li>@Html.ActionLink("Sermons", "Index", "Sermon")</li>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>