@model IEnumerable<SermonAudioOrganizer.Domain.Section>

@{
    ViewBag.Title = "Sections";
}

<h2>Sections</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>            
            @Html.ActionLink("Sermons", "Index", "Sermon", new { sectionId = item.Id }, null) |
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
