@model SermonAudioOrganizer.Domain.Sermon

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Sermon</legend>

    <p>
        @Html.LabelFor(model => model.Title)
        @Html.DisplayFor(model => model.Title)
    </p>
    <p>
        @Html.LabelFor(model => model.RecordingDate)
        @Html.DisplayFor(model => model.RecordingDate)
    </p>
    <p>
        @Html.LabelFor(model => model.Topic)
        @Html.DisplayFor(model => model.Topic)
    </p>
    <p>
        @Html.LabelFor(model => model.Comment)
        @Html.DisplayFor(model => model.Comment)
    </p>
    <p>
        @Html.LabelFor(model => model.Passages)
        @Html.DisplayFor(model => model.Passages)
    </p>
    <p>
        @Html.LabelFor(model => model.SeriesIndex)
        @Html.DisplayFor(model => model.SeriesIndex)
    </p>
    <p>
        @Html.LabelFor(model => model.SectionIndex)
        @Html.DisplayFor(model => model.SectionIndex)
    </p>

</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
