@model IEnumerable<SermonAudioOrganizer.Domain.Sermon>

@{
    ViewBag.Title = "Sermon List";
}

<h2>Sermons</h2>
@if (!string.IsNullOrEmpty(ViewBag.searchTitle))
{
    <h4>
        Current Search: @ViewBag.searchTitle
    </h4>
}
@if ((ViewBag.preacherId ?? 0) > 0)
{
    if (@Model.Any())
    {
        <h4>
            Current Preacher: @Model.First().SermonPreacher.FirstName @Model.First().SermonPreacher.LastName
        </h4>
    }
}
@if ((ViewBag.seriesId ?? 0) > 0)
{
    if (@Model.Any())
    {
        <h4>
            Current Series: @Model.First().SermonSeries.Title
        </h4>
    }
}
@if ((ViewBag.locationId ?? 0) > 0)
{
    if (@Model.Any())
    {
        <h4>
            Current Location: @Model.First().SermonLocation.Venue
        </h4>
    }
}

@using (Html.BeginForm("Index", "Sermon", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="searchTitle">Search by title</label>
        @Html.TextBox("searchTitle", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        @if ((ViewBag.preacherId ?? 0) > 0)
        {
            <input type="hidden" name="preacherId" id="preacherId" value="@ViewBag.preacherId" />
        }
        @if ((ViewBag.seriesId ?? 0) > 0)
        {
            <input type="hidden" name="seriesId" id="seriesId" value="@ViewBag.seriesId" />
        }
        @if ((ViewBag.locationId ?? 0) > 0)
        {
            <input type="hidden" name="locationId" id="locationId" value="@ViewBag.locationId" />
        }
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecordingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Preacher
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeriesIndex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionIndex)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecordingDate)
            </td>
            <td>
                <a href="@System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]@Html.DisplayTextFor(modelItem => item.SermonMedia[0].Name)">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SermonPreacher.FirstName) @Html.DisplayFor(modelItem => item.SermonPreacher.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeriesIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionIndex)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page, preacherId = ViewBag.preacherId, seriesId = ViewBag.seriesId, sectionId = ViewBag.sectionId, locationId = ViewBag.locationId, searchTitle = ViewBag.searchTitle }))
