@model SermonAudioOrganizer.Models.SermonEditViewModel

@{
    ViewBag.Title = "Create Sermon";
}

<h2>Create Sermon</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Sermon</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecordingDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecordingDate)
            @Html.ValidationMessageFor(model => model.RecordingDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Topic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Topic)
            @Html.ValidationMessageFor(model => model.Topic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Passages)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Passages)
            @Html.ValidationMessageFor(model => model.Passages)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocationId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LocationId, Model.Locations,"") @Html.ActionLink("Add Location", "Create", "Location")
            @Html.ValidationMessageFor(model => model.LocationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PreacherId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PreacherId, Model.Preachers,"") @Html.ActionLink("Add Preacher", "Create", "Preacher")
            @Html.ValidationMessageFor(model => model.PreacherId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeriesId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SeriesId, Model.Serieses,"") @Html.ActionLink("Add Series", "Create", "Series")
            @Html.ValidationMessageFor(model => model.SeriesId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeriesIndex)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SeriesIndex)
            @Html.ValidationMessageFor(model => model.SeriesIndex)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SectionId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SectionId, Model.Sections,"") @Html.ActionLink("Add Section", "Create", "Section")
            @Html.ValidationMessageFor(model => model.SectionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SectionIndex)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SectionIndex)
            @Html.ValidationMessageFor(model => model.SectionIndex)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
