@model SermonAudioOrganizer.Domain.Sermon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Sermon</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecordingDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordingDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Topic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Topic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SeriesInstallment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SeriesInstallment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SectionIndex)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SectionIndex)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
